Connected Services/tablaValesTransporte/TransportTicket.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/TransportTicket?xsd=xsd7" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/TransportTicket?xsd=xsd8" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/TransportTicket?xsd=xsd10" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/TransportTicket?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/TransportTicket?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/TransportTicket?xsd=xsd2" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/TransportTicket?xsd=xsd3" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/TransportTicket?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/TransportTicket?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/TransportTicket" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/TransportTicket?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/TransportTicket?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/TransportTicket?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TransportTicketServiceReadRequest">
    <wsdl:part name="parameters" element="tns:TransportTicketServiceReadRequest" />
  </wsdl:message>
  <wsdl:message name="TransportTicketServiceReadRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="TransportTicketServiceReadResponse">
    <wsdl:part name="parameters" element="tns:TransportTicketServiceReadResponse" />
  </wsdl:message>
  <wsdl:message name="TransportTicketService_read_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="TransportTicketServiceFindKeysRequest">
    <wsdl:part name="parameters" element="tns:TransportTicketServiceFindKeysRequest" />
  </wsdl:message>
  <wsdl:message name="TransportTicketServiceFindKeysRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="TransportTicketServiceFindKeysResponse">
    <wsdl:part name="parameters" element="tns:TransportTicketServiceFindKeysResponse" />
  </wsdl:message>
  <wsdl:message name="TransportTicketService_findKeys_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:message name="TransportTicketServiceFindRequest">
    <wsdl:part name="parameters" element="tns:TransportTicketServiceFindRequest" />
  </wsdl:message>
  <wsdl:message name="TransportTicketServiceFindRequest_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q5:CallContext" />
  </wsdl:message>
  <wsdl:message name="TransportTicketServiceFindResponse">
    <wsdl:part name="parameters" element="tns:TransportTicketServiceFindResponse" />
  </wsdl:message>
  <wsdl:message name="TransportTicketService_find_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q6:AifFault" />
  </wsdl:message>
  <wsdl:portType name="TransportTicketService">
    <wsdl:operation name="read">
      <wsdl:input wsaw:Action="http://tempuri.org/TransportTicketService/read" name="TransportTicketServiceReadRequest" message="tns:TransportTicketServiceReadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/TransportTicketService/readResponse" name="TransportTicketServiceReadResponse" message="tns:TransportTicketServiceReadResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/TransportTicketService/readAifFaultFault" name="AifFaultFault" message="tns:TransportTicketService_read_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="findKeys">
      <wsdl:input wsaw:Action="http://tempuri.org/TransportTicketService/findKeys" name="TransportTicketServiceFindKeysRequest" message="tns:TransportTicketServiceFindKeysRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/TransportTicketService/findKeysResponse" name="TransportTicketServiceFindKeysResponse" message="tns:TransportTicketServiceFindKeysResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/TransportTicketService/findKeysAifFaultFault" name="AifFaultFault" message="tns:TransportTicketService_findKeys_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/TransportTicketService/find" name="TransportTicketServiceFindRequest" message="tns:TransportTicketServiceFindRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/TransportTicketService/findResponse" name="TransportTicketServiceFindResponse" message="tns:TransportTicketServiceFindResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/TransportTicketService/findAifFaultFault" name="AifFaultFault" message="tns:TransportTicketService_find_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>