Connected Services/tablaOfertas/SalesQuotations21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/SalesQuotations?xsd=xsd7" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/SalesQuotations?xsd=xsd8" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/SalesQuotations?xsd=xsd10" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/SalesQuotations?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/SalesQuotations?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/SalesQuotations?xsd=xsd2" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/SalesQuotations?xsd=xsd3" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/SalesQuotations?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/SalesQuotations?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/SalesQuotations" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/SalesQuotations?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/SalesQuotations?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/SalesQuotations?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SalesQuotationsServiceReadRequest">
    <wsdl:part name="parameters" element="tns:SalesQuotationsServiceReadRequest" />
  </wsdl:message>
  <wsdl:message name="SalesQuotationsServiceReadRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="SalesQuotationsServiceReadResponse">
    <wsdl:part name="parameters" element="tns:SalesQuotationsServiceReadResponse" />
  </wsdl:message>
  <wsdl:message name="SalesQuotationsService_read_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="SalesQuotationsServiceFindRequest">
    <wsdl:part name="parameters" element="tns:SalesQuotationsServiceFindRequest" />
  </wsdl:message>
  <wsdl:message name="SalesQuotationsServiceFindRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="SalesQuotationsServiceFindResponse">
    <wsdl:part name="parameters" element="tns:SalesQuotationsServiceFindResponse" />
  </wsdl:message>
  <wsdl:message name="SalesQuotationsService_find_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:message name="SalesQuotationsServiceFindKeysRequest">
    <wsdl:part name="parameters" element="tns:SalesQuotationsServiceFindKeysRequest" />
  </wsdl:message>
  <wsdl:message name="SalesQuotationsServiceFindKeysRequest_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q5:CallContext" />
  </wsdl:message>
  <wsdl:message name="SalesQuotationsServiceFindKeysResponse">
    <wsdl:part name="parameters" element="tns:SalesQuotationsServiceFindKeysResponse" />
  </wsdl:message>
  <wsdl:message name="SalesQuotationsService_findKeys_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q6:AifFault" />
  </wsdl:message>
  <wsdl:portType name="SalesQuotationsService">
    <wsdl:operation name="read">
      <wsdl:input wsaw:Action="http://tempuri.org/SalesQuotationsService/read" name="SalesQuotationsServiceReadRequest" message="tns:SalesQuotationsServiceReadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/SalesQuotationsService/readResponse" name="SalesQuotationsServiceReadResponse" message="tns:SalesQuotationsServiceReadResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/SalesQuotationsService/readAifFaultFault" name="AifFaultFault" message="tns:SalesQuotationsService_read_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/SalesQuotationsService/find" name="SalesQuotationsServiceFindRequest" message="tns:SalesQuotationsServiceFindRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/SalesQuotationsService/findResponse" name="SalesQuotationsServiceFindResponse" message="tns:SalesQuotationsServiceFindResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/SalesQuotationsService/findAifFaultFault" name="AifFaultFault" message="tns:SalesQuotationsService_find_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="findKeys">
      <wsdl:input wsaw:Action="http://tempuri.org/SalesQuotationsService/findKeys" name="SalesQuotationsServiceFindKeysRequest" message="tns:SalesQuotationsServiceFindKeysRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/SalesQuotationsService/findKeysResponse" name="SalesQuotationsServiceFindKeysResponse" message="tns:SalesQuotationsServiceFindKeysResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/SalesQuotationsService/findKeysAifFaultFault" name="AifFaultFault" message="tns:SalesQuotationsService_findKeys_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>