Connected Services/tablaAlbaranesEntrega/CustPackingSlip.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/CustPackingSlip?xsd=xsd7" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/CustPackingSlip?xsd=xsd8" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/CustPackingSlip?xsd=xsd10" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/CustPackingSlip?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/CustPackingSlip?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/CustPackingSlip?xsd=xsd2" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/CustPackingSlip?xsd=xsd3" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/CustPackingSlip?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/CustPackingSlip?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/CustPacking" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/CustPackingSlip?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/CustPackingSlip?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/CustPackingSlip?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CustPackingServiceFindRequest">
    <wsdl:part name="parameters" element="tns:CustPackingServiceFindRequest" />
  </wsdl:message>
  <wsdl:message name="CustPackingServiceFindRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="CustPackingServiceFindResponse">
    <wsdl:part name="parameters" element="tns:CustPackingServiceFindResponse" />
  </wsdl:message>
  <wsdl:message name="CustPackingService_find_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="CustPackingServiceFindKeysRequest">
    <wsdl:part name="parameters" element="tns:CustPackingServiceFindKeysRequest" />
  </wsdl:message>
  <wsdl:message name="CustPackingServiceFindKeysRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="CustPackingServiceFindKeysResponse">
    <wsdl:part name="parameters" element="tns:CustPackingServiceFindKeysResponse" />
  </wsdl:message>
  <wsdl:message name="CustPackingService_findKeys_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:message name="CustPackingServiceReadRequest">
    <wsdl:part name="parameters" element="tns:CustPackingServiceReadRequest" />
  </wsdl:message>
  <wsdl:message name="CustPackingServiceReadRequest_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q5:CallContext" />
  </wsdl:message>
  <wsdl:message name="CustPackingServiceReadResponse">
    <wsdl:part name="parameters" element="tns:CustPackingServiceReadResponse" />
  </wsdl:message>
  <wsdl:message name="CustPackingService_read_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q6:AifFault" />
  </wsdl:message>
  <wsdl:portType name="CustPackingService">
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/CustPackingService/find" name="CustPackingServiceFindRequest" message="tns:CustPackingServiceFindRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/CustPackingService/findResponse" name="CustPackingServiceFindResponse" message="tns:CustPackingServiceFindResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/CustPackingService/findAifFaultFault" name="AifFaultFault" message="tns:CustPackingService_find_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="findKeys">
      <wsdl:input wsaw:Action="http://tempuri.org/CustPackingService/findKeys" name="CustPackingServiceFindKeysRequest" message="tns:CustPackingServiceFindKeysRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/CustPackingService/findKeysResponse" name="CustPackingServiceFindKeysResponse" message="tns:CustPackingServiceFindKeysResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/CustPackingService/findKeysAifFaultFault" name="AifFaultFault" message="tns:CustPackingService_findKeys_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdl:input wsaw:Action="http://tempuri.org/CustPackingService/read" name="CustPackingServiceReadRequest" message="tns:CustPackingServiceReadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/CustPackingService/readResponse" name="CustPackingServiceReadResponse" message="tns:CustPackingServiceReadResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/CustPackingService/readAifFaultFault" name="AifFaultFault" message="tns:CustPackingService_read_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>