Connected Services/tablaAlbaranesEntrega/CustPackingSlip6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/CustPackingSlip?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
  <xs:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/CustPackingSlip?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
  <xs:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/CustPackingSlip?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/CustPacking" />
  <xs:element xmlns:q1="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" name="EntityKeyList" type="q1:EntityKeyList" />
  <xs:element xmlns:q2="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" name="QueryCriteria" type="q2:QueryCriteria" />
  <xs:element xmlns:q3="http://schemas.microsoft.com/dynamics/2008/01/documents/CustPacking" name="AxdCustPacking" type="q3:AxdCustPacking" />
</xs:schema>