Connected Services/tablaFacturas/CustInvoiceService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/documents/CustInvoiceTrans" xmlns:st="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/documents/CustInvoiceTrans" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://axaos2012prep-new.alsina.red:8101/DynamicsAx/Services/CustInvoiceService?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
  <xs:element name="CustInvoiceTrans" type="tns:AxdCustInvoiceTrans" />
  <xs:complexType name="AxdCustInvoiceTrans">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClearNilFieldsOnUpdate" nillable="true" type="st:AxdEnum_boolean" />
      <xs:element minOccurs="0" name="DocPurpose" nillable="true" type="st:AxdEnum_XMLDocPurpose" />
      <xs:element minOccurs="0" name="SenderId" nillable="true" type="st:AxdExtType_DataAreaId" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustInvoiceTrans" type="tns:AxdEntity_CustInvoiceTrans" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AxdEntity_CustInvoiceTrans">
    <xs:sequence>
      <xs:element minOccurs="0" name="_DocumentHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="1" name="InvoiceId" type="st:AxdExtType_CustInvoiceId" />
      <xs:element minOccurs="1" name="InvoiceDate" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="LineNum" nillable="true" type="st:AxdExtType_LineNum" />
      <xs:element minOccurs="0" name="InventTransId" nillable="true" type="st:AxdExtType_TradeInventTransId" />
      <xs:element minOccurs="0" name="InventRefId" nillable="true" type="st:AxdExtType_InventRefId" />
      <xs:element minOccurs="0" name="ItemId" nillable="true" type="st:AxdExtType_ItemId" />
      <xs:element minOccurs="0" name="ExternalItemId" nillable="true" type="st:AxdExtType_SalesExternalItemId" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="st:AxdExtType_ItemFreeTxtBase" />
      <xs:element minOccurs="0" name="TaxGroup" nillable="true" type="st:AxdExtType_TaxGroup" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="st:AxdExtType_CustCurrencyCode" />
      <xs:element minOccurs="0" name="PriceUnit" nillable="true" type="st:AxdExtType_PriceUnit" />
      <xs:element minOccurs="0" name="Qty" nillable="true" type="st:AxdExtType_SalesInvoicedQty" />
      <xs:element minOccurs="0" name="SalesPrice" nillable="true" type="st:AxdExtType_SalesPrice" />
      <xs:element minOccurs="0" name="DiscPercent" nillable="true" type="st:AxdExtType_SalesDiscPercent" />
      <xs:element minOccurs="0" name="DiscAmount" nillable="true" type="st:AxdExtType_SalesDiscAmount" />
      <xs:element minOccurs="0" name="LineAmount" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="SalesGroup" nillable="true" type="st:AxdExtType_CommissSalesGroup" />
      <xs:element minOccurs="0" name="QtyPhysical" nillable="true" type="st:AxdExtType_SalesQty" />
      <xs:element minOccurs="0" name="PartDelivery" nillable="true" type="st:AxdExtType_PartDelivery" />
      <xs:element minOccurs="0" name="Remain" nillable="true" type="st:AxdExtType_SalesQty" />
      <xs:element minOccurs="0" name="SalesId" nillable="true" type="st:AxdExtType_SalesId" />
      <xs:element minOccurs="0" name="SalesUnit" nillable="true" type="st:AxdExtType_SalesUnit" />
      <xs:element minOccurs="0" name="SalesMarkup" nillable="true" type="st:AxdExtType_SalesMarkup" />
      <xs:element minOccurs="0" name="CommissCalc" nillable="true" type="st:AxdExtType_CommissCalc" />
      <xs:element minOccurs="0" name="CommissAmountCur" nillable="true" type="st:AxdExtType_CommissAmountCur" />
      <xs:element minOccurs="0" name="TransactionCode" nillable="true" type="st:AxdExtType_IntrastatTransactionCodeId" />
      <xs:element minOccurs="0" name="DeliveryType" nillable="true" type="st:AxdExtType_TradeLineDlvTypeId" />
      <xs:element minOccurs="0" name="CountryRegionOfShipment" nillable="true" type="st:AxdExtType_AddressCountryRegionId" />
      <xs:element minOccurs="0" name="ItemCodeId" nillable="true" type="st:AxdExtType_IntrastatItemCodeId" />
      <xs:element minOccurs="0" name="TaxAutogenerated" nillable="true" type="st:AxdExtType_TaxAutoGenerated" />
      <xs:element minOccurs="0" name="TaxItemGroup" nillable="true" type="st:AxdExtType_TaxItemGroup" />
      <xs:element minOccurs="0" name="TaxAmount" nillable="true" type="st:AxdExtType_TaxAmountCur" />
      <xs:element minOccurs="0" name="TaxWriteCode" nillable="true" type="st:AxdExtType_TaxWriteCode" />
      <xs:element minOccurs="0" name="MultiLnDisc" nillable="true" type="st:AxdExtType_SalesMultiLnDisc" />
      <xs:element minOccurs="0" name="MultiLnPercent" nillable="true" type="st:AxdExtType_SalesMultiLnPercent" />
      <xs:element minOccurs="0" name="LineDisc" nillable="true" type="st:AxdExtType_SalesLineDisc" />
      <xs:element minOccurs="0" name="LinePercent" nillable="true" type="st:AxdExtType_SalesLinePercent" />
      <xs:element minOccurs="0" name="OrigSalesId" nillable="true" type="st:AxdExtType_SalesIdOrig" />
      <xs:element minOccurs="0" name="LineHeader" nillable="true" type="st:AxdExtType_LineHeader" />
      <xs:element minOccurs="0" name="Transport" nillable="true" type="st:AxdExtType_IntrastatTransport" />
      <xs:element minOccurs="0" name="InventDimId" nillable="true" type="st:AxdExtType_InventDimId" />
      <xs:element minOccurs="0" name="OrigCountryRegionId" nillable="true" type="st:AxdExtType_ItemOrigCountryRegionId" />
      <xs:element minOccurs="0" name="numberSequenceGroup" nillable="true" type="st:AxdExtType_NumberSequenceGroupId" />
      <xs:element minOccurs="0" name="StatProcId" nillable="true" type="st:AxdExtType_IntrastatProcId" />
      <xs:element minOccurs="0" name="DlvDate" nillable="true" type="st:AxdExtType_SalesShippingDate" />
      <xs:element minOccurs="0" name="LineAmountTax" nillable="true" type="st:AxdExtType_LineAmountTax" />
      <xs:element minOccurs="0" name="Port" nillable="true" type="st:AxdExtType_IntrastatPortId" />
      <xs:element minOccurs="0" name="AssetId" nillable="true" type="st:AxdExtType_AssetIdOpen" />
      <xs:element minOccurs="0" name="CustomerLineNum" nillable="true" type="st:AxdExtType_CustLineNum" />
      <xs:element minOccurs="0" name="AssetBookId" nillable="true" type="st:AxdExtType_AssetBookIdPurchSalesInvent" />
      <xs:element minOccurs="0" name="LineAmountMST" nillable="true" type="st:AxdExtType_AmountMST" />
      <xs:element minOccurs="0" name="TaxAmountMST" nillable="true" type="st:AxdExtType_TaxAmount" />
      <xs:element minOccurs="0" name="LineAmountTaxMST" nillable="true" type="st:AxdExtType_LineAmountTaxMST" />
      <xs:element minOccurs="0" name="CommissAmountMST" nillable="true" type="st:AxdExtType_CommissAmountMST" />
      <xs:element minOccurs="0" name="SumLineDisc" nillable="true" type="st:AxdExtType_SalesSumLineDiscAmount" />
      <xs:element minOccurs="0" name="SumLineDiscMST" nillable="true" type="st:AxdExtType_SalesSumLineDiscAmountMST" />
      <xs:element minOccurs="0" name="InterCompanyInventTransId" nillable="true" type="st:AxdExtType_InventTransId" />
      <xs:element minOccurs="0" name="EInvoiceAccountCode" nillable="true" type="st:AxdExtType_EInvoiceAccountCode" />
      <xs:element minOccurs="0" name="ReturnDispositionCodeId" nillable="true" type="st:AxdExtType_ReturnDispositionCodeId" />
      <xs:element minOccurs="0" name="StatLineAmountMST" nillable="true" type="st:AxdExtType_IntrastatLineAmountMST" />
      <xs:element minOccurs="0" name="IntrastatDispatchId" nillable="true" type="st:AxdExtType_IntrastatDispatchId" />
      <xs:element minOccurs="0" name="InventQty" nillable="true" type="st:AxdExtType_InventQty" />
      <xs:element minOccurs="0" name="OrigState" nillable="true" type="st:AxdExtType_ItemOrigStateId" />
      <xs:element minOccurs="0" name="InventRefType" nillable="true" type="st:AxdEnum_InventRefType" />
      <xs:element minOccurs="0" name="InventRefTransId" nillable="true" type="st:AxdExtType_InventRefTransId" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="st:AxdExtType_Weight" />
      <xs:element minOccurs="0" name="ReturnArrivalDate" nillable="true" type="st:AxdExtType_ReturnArrivalDate" />
      <xs:element minOccurs="0" name="ReturnClosedDate" nillable="true" type="st:AxdExtType_ReturnClosedDate" />
      <xs:element minOccurs="0" name="ReverseChargeApplies_UK" nillable="true" type="st:AxdExtType_ReverseChargeApplies_UK" />
      <xs:element minOccurs="0" name="SalesCategory" nillable="true" type="st:AxdEntityKey_EcoResCategory" />
      <xs:element minOccurs="0" name="SourceDocumentLine" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="LedgerDimension" nillable="true" type="st:AxdType_DefaultAccount" />
      <xs:element minOccurs="0" name="TaxWithholdItemGroupHeading_TH" nillable="true" type="st:AxdExtType_TaxWithholdItemGroup_TH" />
      <xs:element minOccurs="0" name="StockedProduct" nillable="true" type="st:AxdExtType_TradeStockedProduct" />
      <xs:element minOccurs="0" name="ReversedRecId" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="NGPCodesTable_FR" nillable="true" type="st:AxdExtType_NGP_FR" />
      <xs:element minOccurs="0" name="ParentRecId" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="TaxWithholdGroup_TH" nillable="true" type="st:AxdExtType_TaxWithholdGroup" />
      <xs:element minOccurs="0" name="IntrastatFulfillmentDate_HU" nillable="true" type="st:AxdExtType_IntrastatFulfillmentDate_HU" />
      <xs:element minOccurs="0" name="BillingCode" nillable="true" type="st:AxdExtType_BillingCode" />
      <xs:element minOccurs="0" name="GoodsForFree" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="PdsCWQty" nillable="true" type="st:AxdExtType_PdsCWInventQty" />
      <xs:element minOccurs="0" name="PdsCWQtyPhysical" nillable="true" type="st:AxdExtType_PdsCWInventQty" />
      <xs:element minOccurs="0" name="PdsCWRemain" nillable="true" type="st:AxdExtType_PdsCWInventQty" />
      <xs:element minOccurs="0" name="AgrupacionId" nillable="true" type="st:AxdExtType_AgrupacionId" />
      <xs:element minOccurs="0" name="CantidadUnidadAgrupacion" nillable="true" type="st:AxdExtType_CantidadUnidadAgrupacion" />
      <xs:element minOccurs="0" name="Days" nillable="true" type="st:AxdExtType_Days" />
      <xs:element minOccurs="0" name="DeficiencyPeriod" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="EurDia" nillable="true" type="st:AxdExtType_EurDia" />
      <xs:element minOccurs="0" name="EurDiaPost" nillable="true" type="st:AxdExtType_EurDia" />
      <xs:element minOccurs="0" name="FamilyId" nillable="true" type="st:AxdExtType_FamilyId" />
      <xs:element minOccurs="0" name="FechaOrigen" nillable="true" type="st:AxdExtType_ValueDate" />
      <xs:element minOccurs="0" name="FromDate" nillable="true" type="st:AxdExtType_FromDate" />
      <xs:element minOccurs="0" name="FromDeficiencyDate" nillable="true" type="st:AxdExtType_FromDate" />
      <xs:element minOccurs="0" name="ImporteAcumulado" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="Liquidacion" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="ObraId" nillable="true" type="st:AxdExtType_ObraId" />
      <xs:element minOccurs="0" name="PackingSlipId" nillable="true" type="st:AxdExtType_PackingSlipId" />
      <xs:element minOccurs="0" name="PackingSlipIdEnt" nillable="true" type="st:AxdExtType_PackingSlipId" />
      <xs:element minOccurs="0" name="PrecioUnidadAgrupacion" nillable="true" type="st:AxdExtType_PrecioUnidadAgrupacion" />
      <xs:element minOccurs="0" name="SubfamilyId" nillable="true" type="st:AxdExtType_SubfamilyId" />
      <xs:element minOccurs="0" name="ToDate" nillable="true" type="st:AxdExtType_ToDate" />
      <xs:element minOccurs="0" name="ToDeficiencyDate" nillable="true" type="st:AxdExtType_ToDate" />
      <xs:element minOccurs="0" name="TransportTicket" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="WeightVolume" nillable="true" type="st:AxdExtType_WeightVolume" />
      <xs:element minOccurs="0" name="DaysXQty" nillable="true" type="st:AxdExtType_Qty" />
      <xs:element minOccurs="0" name="CostCenter" nillable="true" type="st:AxdExtType_CostCenter" />
      <xs:element minOccurs="0" name="Delegation" nillable="true" type="st:AxdExtType_Delegation" />
      <xs:element minOccurs="0" name="SalesType" nillable="true" type="st:AxdEnum_SalesType" />
      <xs:element minOccurs="0" name="TipoVenta" nillable="true" type="st:AxdEnum_TiposVentas" />
      <xs:element minOccurs="0" name="MetersInvoicing" nillable="true" type="st:AxdExtType_MetersInvoicing" />
      <xs:element minOccurs="0" name="BusinessUnit" nillable="true" type="st:AxdExtType_BusinessUnit" />
      <xs:element minOccurs="0" name="Intercompany" nillable="true" type="st:AxdExtType_Intercompany" />
      <xs:element minOccurs="0" name="InvoiceTextCounter" nillable="true" type="st:AxdExtType_InvoiceTextCounter" />
      <xs:element minOccurs="0" name="LATARCollectorId" nillable="true" type="st:AxdExtType_LATARCollectorId" />
      <xs:element minOccurs="0" name="LATARInvoiceConceptId" nillable="true" type="st:AxdExtType_LATARInvoiceConceptId" />
      <xs:element minOccurs="0" name="LATARLedgerVoucher" nillable="true" type="st:AxdExtType_Voucher" />
      <xs:element minOccurs="0" name="PermisoEmbarque" nillable="true" type="st:AxdExtType_PermisoEmbarqueEDT" />
      <xs:element minOccurs="0" name="PaisdeDestino" nillable="true" type="st:AxdExtType_EdtPaisDestino" />
      <xs:element minOccurs="0" name="TipoPermisoEmb" nillable="true" type="st:AxdEnum_PermisoTipo" />
      <xs:element minOccurs="0" name="PVP" nillable="true" type="st:AxdExtType_Price" />
      <xs:element minOccurs="0" name="LineAmountSave" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="PrecioUnidadAgrupacionPost" nillable="true" type="st:AxdExtType_PrecioUnidadAgrupacion" />
      <xs:element minOccurs="0" name="SalesPriceSave" nillable="true" type="st:AxdExtType_SalesPrice" />
      <xs:element minOccurs="0" name="ExcPE_SunatChargeDiscCode" nillable="true" type="st:AxdExtType_ExcPE_SunatChargeDiscCode" />
      <xs:element minOccurs="0" name="Tax394ItemCode_RO" nillable="true" type="st:AxdExtType_Tax394ItemCode_RO" />
      <xs:element minOccurs="0" name="EXCEIPE_ValorReferencial" nillable="true" type="st:AxdExtType_EXCEIPE_ValorReferencial" />
      <xs:element minOccurs="0" name="ItemDevolutionType" nillable="true" type="st:AxdEnum_ItemDevolutionType" />
      <xs:element minOccurs="0" name="DiscountCodeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXCEIPE_ValorReferencialIGV" nillable="true" type="st:AxdExtType_EXCEIPE_ValorReferencial" />
      <xs:element minOccurs="0" name="ExcPE_SunatProductCodeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustInvoiceJour" type="tns:AxdEntity_CustInvoiceJour" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_CustInvoiceJour">
    <xs:sequence>
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="1" name="CustGroup" type="st:AxdExtType_CustGroupId" />
      <xs:element minOccurs="0" name="RefNum" nillable="true" type="st:AxdEnum_RefNum" />
      <xs:element minOccurs="0" name="SalesId" nillable="true" type="st:AxdExtType_SalesIdBase" />
      <xs:element minOccurs="1" name="OrderAccount" type="st:AxdExtType_CustAccount" />
      <xs:element minOccurs="1" name="InvoiceAccount" type="st:AxdExtType_CustInvoiceAccount" />
      <xs:element minOccurs="1" name="InvoiceDate" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="DueDate" nillable="true" type="st:AxdExtType_DueDate" />
      <xs:element minOccurs="0" name="CashDisc" nillable="true" type="st:AxdExtType_CustCashDiscAmount" />
      <xs:element minOccurs="0" name="CashDiscDate" nillable="true" type="st:AxdExtType_CustCashDiscDate" />
      <xs:element minOccurs="0" name="Qty" nillable="true" type="st:AxdExtType_SalesQty" />
      <xs:element minOccurs="0" name="Volume" nillable="true" type="st:AxdExtType_Volume" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="st:AxdExtType_Weight" />
      <xs:element minOccurs="0" name="SumLineDisc" nillable="true" type="st:AxdExtType_SalesSumLineDiscAmount" />
      <xs:element minOccurs="0" name="SalesBalance" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="EndDisc" nillable="true" type="st:AxdExtType_SalesEndDiscAmount" />
      <xs:element minOccurs="0" name="InvoiceAmount" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="1" name="CurrencyCode" type="st:AxdExtType_CustCurrencyCode" />
      <xs:element minOccurs="0" name="ExchRate" nillable="true" type="st:AxdExtType_CustExchRate" />
      <xs:element minOccurs="0" name="InvoiceId" nillable="true" type="st:AxdExtType_CustInvoiceId" />
      <xs:element minOccurs="0" name="LedgerVoucher" nillable="true" type="st:AxdExtType_Voucher" />
      <xs:element minOccurs="0" name="Updated" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="OnAccountAmount" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="TaxPrintOnInvoice" nillable="true" type="st:AxdExtType_TaxPrintOnInvoice" />
      <xs:element minOccurs="0" name="Listcode" nillable="true" type="st:AxdExtType_ListcodeId" />
      <xs:element minOccurs="0" name="DocumentNum" nillable="true" type="st:AxdExtType_DocumentNum" />
      <xs:element minOccurs="0" name="DocumentDate" nillable="true" type="st:AxdExtType_DocumentDate" />
      <xs:element minOccurs="0" name="CashDiscPercent" nillable="true" type="st:AxdExtType_DiscPct" />
      <xs:element minOccurs="0" name="IntrastatDispatch" nillable="true" type="st:AxdExtType_IntrastatDispatchId" />
      <xs:element minOccurs="0" name="DeliveryName" nillable="true" type="st:AxdExtType_CustName" />
      <xs:element minOccurs="0" name="EnterpriseNumber" nillable="true" type="st:AxdExtType_TaxEnterpriseNumber" />
      <xs:element minOccurs="0" name="PurchaseOrder" nillable="true" type="st:AxdExtType_CustPurchaseOrder" />
      <xs:element minOccurs="0" name="DlvTerm" nillable="true" type="st:AxdExtType_CustDlvTermId" />
      <xs:element minOccurs="0" name="DlvMode" nillable="true" type="st:AxdExtType_CustDlvModeId" />
      <xs:element minOccurs="0" name="Payment" nillable="true" type="st:AxdExtType_CustPaymTermId" />
      <xs:element minOccurs="0" name="CashDiscCode" nillable="true" type="st:AxdExtType_CustCashDiscCode" />
      <xs:element minOccurs="0" name="InvoiceRoundOff" nillable="true" type="st:AxdExtType_RoundOff" />
      <xs:element minOccurs="0" name="SumMarkup" nillable="true" type="st:AxdExtType_MarkupSumSales" />
      <xs:element minOccurs="0" name="CovStatus" nillable="true" type="st:AxdExtType_CovStatus" />
      <xs:element minOccurs="0" name="ReturnItemNum" nillable="true" type="st:AxdExtType_ReturnItemNum" />
      <xs:element minOccurs="0" name="PostingProfile" nillable="true" type="st:AxdExtType_CustPostingProfile" />
      <xs:element minOccurs="0" name="Backorder" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="TaxGroup" nillable="true" type="st:AxdExtType_TaxGroup" />
      <xs:element minOccurs="0" name="TaxItemGroup" nillable="true" type="st:AxdExtType_TaxItemGroup" />
      <xs:element minOccurs="0" name="TaxSpecifyByLine" nillable="true" type="st:AxdExtType_TaxSpecifyLine" />
      <xs:element minOccurs="0" name="EInvoiceLineSpecific" nillable="true" type="st:AxdExtType_EInvoiceLineSpecific" />
      <xs:element minOccurs="0" name="OneTimeCustomer" nillable="true" type="st:AxdExtType_OneTimeCustomer" />
      <xs:element minOccurs="0" name="PaymentSched" nillable="true" type="st:AxdExtType_PaymSchedId" />
      <xs:element minOccurs="0" name="SumTax" nillable="true" type="st:AxdExtType_TaxAmountCur" />
      <xs:element minOccurs="0" name="SalesType" nillable="true" type="st:AxdEnum_SalesType" />
      <xs:element minOccurs="0" name="EInvoiceAccountCode" nillable="true" type="st:AxdExtType_EInvoiceAccountCode" />
      <xs:element minOccurs="0" name="InterCompanyPosted" nillable="true" type="st:AxdExtType_InterCompanyPosted" />
      <xs:element minOccurs="0" name="ParmId" nillable="true" type="st:AxdExtType_ParmId" />
      <xs:element minOccurs="0" name="ReturnReasonCodeId" nillable="true" type="st:AxdExtType_ReturnReasonCodeId" />
      <xs:element minOccurs="0" name="EUSalesList" nillable="true" type="st:AxdExtType_ListDispatchId" />
      <xs:element minOccurs="0" name="ExchRateSecondary" nillable="true" type="st:AxdExtType_ExchrateSecondary" />
      <xs:element minOccurs="0" name="Triangulation" nillable="true" type="st:AxdExtType_EUROTriangulation" />
      <xs:element minOccurs="0" name="CustomerRef" nillable="true" type="st:AxdExtType_CustRef" />
      <xs:element minOccurs="0" name="VATNum" nillable="true" type="st:AxdExtType_VATNumJournal" />
      <xs:element minOccurs="0" name="numberSequenceGroup" nillable="true" type="st:AxdExtType_NumberSequenceGroupId" />
      <xs:element minOccurs="1" name="LanguageId" type="st:AxdExtType_CustLanguageId" />
      <xs:element minOccurs="0" name="InclTax" nillable="true" type="st:AxdExtType_InclTax" />
      <xs:element minOccurs="0" name="Log" nillable="true" type="st:AxdExtType_LogText" />
      <xs:element minOccurs="0" name="PaymDayId" nillable="true" type="st:AxdExtType_CustPaymDayId" />
      <xs:element minOccurs="0" name="InvoicingName" nillable="true" type="st:AxdExtType_CustName" />
      <xs:element minOccurs="0" name="GiroType" nillable="true" type="st:AxdExtType_PaymentStubInvoiceId" />
      <xs:element minOccurs="0" name="ContactPersonId" nillable="true" type="st:AxdExtType_ContactPersonId" />
      <xs:element minOccurs="0" name="SalesOriginId" nillable="true" type="st:AxdExtType_SalesOriginId" />
      <xs:element minOccurs="0" name="BillOfLadingId" nillable="true" type="st:AxdExtType_WMSBillOfLadingId" />
      <xs:element minOccurs="0" name="inventLocationId" nillable="true" type="st:AxdExtType_SalesInventLocationId" />
      <xs:element minOccurs="0" name="FixedDueDate" nillable="true" type="st:AxdExtType_SalesFixedDueDate" />
      <xs:element minOccurs="0" name="InvoiceAmountMST" nillable="true" type="st:AxdExtType_AmountMST" />
      <xs:element minOccurs="0" name="InvoiceRoundOffMST" nillable="true" type="st:AxdExtType_RoundOffMST" />
      <xs:element minOccurs="0" name="SumMarkupMST" nillable="true" type="st:AxdExtType_MarkupSumMSTSales" />
      <xs:element minOccurs="0" name="SumLineDiscMST" nillable="true" type="st:AxdExtType_SalesSumLineDiscAmountMST" />
      <xs:element minOccurs="0" name="EndDiscMST" nillable="true" type="st:AxdExtType_SalesEndDiscAmountMST" />
      <xs:element minOccurs="0" name="SalesBalanceMST" nillable="true" type="st:AxdExtType_AmountMST" />
      <xs:element minOccurs="0" name="SumTaxMST" nillable="true" type="st:AxdExtType_TaxAmount" />
      <xs:element minOccurs="0" name="PrintMgmtSiteId" nillable="true" type="st:AxdExtType_InventSiteId" />
      <xs:element minOccurs="0" name="ReturnStatus" nillable="true" type="st:AxdEnum_ReturnStatusHeader" />
      <xs:element minOccurs="0" name="InterCompanyCompanyId" nillable="true" type="st:AxdExtType_InterCompanyCompanyId" />
      <xs:element minOccurs="0" name="InterCompanyPurchId" nillable="true" type="st:AxdExtType_InterCompanyPurchId" />
      <xs:element minOccurs="0" name="PrintedOriginals" nillable="true" type="st:AxdExtType_PrintedOriginals" />
      <xs:element minOccurs="0" name="Proforma" nillable="true" type="st:AxdExtType_CustVendProforma" />
      <xs:element minOccurs="0" name="RCSalesList_UK" nillable="true" type="st:AxdExtType_RCListDispatchId_UK" />
      <xs:element minOccurs="0" name="ReverseCharge_UK" nillable="true" type="st:AxdExtType_TaxAmountCur" />
      <xs:element minOccurs="0" name="DeliveryPostalAddress" nillable="true" type="st:AxdEntityKey_LogisticsPostalAddress" />
      <xs:element minOccurs="0" name="InvoicePostalAddress" nillable="true" type="st:AxdEntityKey_LogisticsPostalAddress" />
      <xs:element minOccurs="0" name="SourceDocumentHeader" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="BankLCExportLine" nillable="true" type="st:AxdEntityKey_BankLCExportLine" />
      <xs:element minOccurs="0" name="WorkerSalesTaker" nillable="true" type="st:AxdExtType_HcmPersonnelNumberId" />
      <xs:element minOccurs="0" name="ReversedRecId" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="PaymId" nillable="true" type="st:AxdExtType_PaymId" />
      <xs:element minOccurs="0" name="TaxInvoiceSalesId" nillable="true" type="st:AxdExtType_TaxInvoiceSalesId" />
      <xs:element minOccurs="0" name="IntrastatFulfillmentDate_HU" nillable="true" type="st:AxdExtType_IntrastatFulfillmentDate_HU" />
      <xs:element minOccurs="0" name="IntentLetterId" nillable="true" type="st:AxdExtType_IntentLetterId" />
      <xs:element minOccurs="0" name="IntentLetterFromDate" nillable="true" type="st:AxdExtType_FromDate" />
      <xs:element minOccurs="0" name="IntentLetterToDate" nillable="true" type="st:AxdExtType_ToDate" />
      <xs:element minOccurs="0" name="InvoiceType" nillable="true" type="st:AxdEnum_InvoiceType" />
      <xs:element minOccurs="0" name="CommissionType" nillable="true" type="st:AxdEnum_CommissionType" />
      <xs:element minOccurs="0" name="CommissionOnPrepayment" nillable="true" type="st:AxdExtType_CommissionOnPrepayment" />
      <xs:element minOccurs="0" name="ReasonTableRef" nillable="true" type="st:AxdExtType_ReasonTableRefRecId" />
      <xs:element minOccurs="0" name="SourceDocumentLine" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="DirectDebitMandate" nillable="true" type="st:AxdExtType_CustMandateId" />
      <xs:element minOccurs="0" name="AdvancedPaymentsAmountCur" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="AdvancedPaymentsAmountMST" nillable="true" type="st:AxdExtType_AmountMST" />
      <xs:element minOccurs="0" name="CannonMaterial" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="CanonNewPutInRent" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="CashDiscMST" nillable="true" type="st:AxdType_Decimal" />
      <xs:element minOccurs="0" name="CostCenter" nillable="true" type="st:AxdExtType_CostCenter" />
      <xs:element minOccurs="0" name="CreditNoteType" nillable="true" type="st:AxdEnum_CreditNoteType" />
      <xs:element minOccurs="0" name="Delegation" nillable="true" type="st:AxdExtType_Delegation" />
      <xs:element minOccurs="0" name="ExpensesDT" nillable="true" type="st:AxdExtType_Amount" />
      <xs:element minOccurs="0" name="FromDate" nillable="true" type="st:AxdExtType_FromDate" />
      <xs:element minOccurs="0" name="MasterObrasId" nillable="true" type="st:AxdExtType_MasterObrasId" />
      <xs:element minOccurs="0" name="NotIncludeDiscount" nillable="true" type="st:AxdExtType_NotIncludeDiscount" />
      <xs:element minOccurs="0" name="NoTransportInvoiceLines" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="ObraId" nillable="true" type="st:AxdExtType_ObraId" />
      <xs:element minOccurs="0" name="PortsAmountCur" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="PortsAmountMST" nillable="true" type="st:AxdExtType_AmountMST" />
      <xs:element minOccurs="0" name="RentInvoicePrintType" nillable="true" type="st:AxdEnum_RentInvoicePrintType" />
      <xs:element minOccurs="0" name="TipoAlquiler" nillable="true" type="st:AxdEnum_TiposAlquiler" />
      <xs:element minOccurs="0" name="TipoVenta" nillable="true" type="st:AxdEnum_TiposVentas" />
      <xs:element minOccurs="0" name="ToDate" nillable="true" type="st:AxdExtType_ToDate" />
      <xs:element minOccurs="0" name="TransportBreakdown" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="WeightVolume" nillable="true" type="st:AxdExtType_WeightVolume" />
      <xs:element minOccurs="0" name="RentCanon" nillable="true" type="st:AxdEnum_RentCanon" />
      <xs:element minOccurs="0" name="CurrencyCodeOrig" nillable="true" type="st:AxdExtType_TariffCurrency" />
      <xs:element minOccurs="0" name="EXCLATCL_SalesDocType" nillable="true" type="st:AxdExtType_EXCLATCL_SalesDocTypeEDT" />
      <xs:element minOccurs="0" name="IBPTDebitInvoice" nillable="true" type="st:AxdExtType_IBPTDebitInvoice" />
      <xs:element minOccurs="0" name="IBPTHashInvoice" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="IBPTNumberSequenceCode" nillable="true" type="st:AxdExtType_NumberSequenceCode" />
      <xs:element minOccurs="0" name="DuracionEstimada" nillable="true" type="st:AxdExtType_Integer" />
      <xs:element minOccurs="0" name="ZonaId" nillable="true" type="st:AxdExtType_ZonaId" />
      <xs:element minOccurs="0" name="BusinessUnit" nillable="true" type="st:AxdExtType_BusinessUnit" />
      <xs:element minOccurs="0" name="IncludeTariffCode" nillable="true" type="st:AxdExtType_IncludeTariffCode" />
      <xs:element minOccurs="0" name="Intercompany" nillable="true" type="st:AxdExtType_Intercompany" />
      <xs:element minOccurs="0" name="Observations" nillable="true" type="st:AxdExtType_Observaciones" />
      <xs:element minOccurs="0" name="ExchRateTariff" nillable="true" type="st:AxdExtType_CustExchRate" />
      <xs:element minOccurs="0" name="EXCEIUY_FEFechaGenerada" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="LATARAFIPEICAETable" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="LATARAFIPReceiptNumber" nillable="true" type="st:AxdExtType_LATARReceipt" />
      <xs:element minOccurs="0" name="LATARAFIPReceiptTypeId" nillable="true" type="st:AxdExtType_LATARAFIPReceiptTypeId" />
      <xs:element minOccurs="0" name="LATARCollectorId" nillable="true" type="st:AxdExtType_LATARCollectorId" />
      <xs:element minOccurs="0" name="LATARDocClassId" nillable="true" type="st:AxdExtType_LATARDocClassId" />
      <xs:element minOccurs="0" name="LATARDueDateNCAI" nillable="true" type="st:AxdExtType_DueDate" />
      <xs:element minOccurs="0" name="LATARGrossIncome" nillable="true" type="st:AxdExtType_LATARGrossIncome" />
      <xs:element minOccurs="0" name="LATARInvJurisdicId" nillable="true" type="st:AxdExtType_LATARJurisdicId" />
      <xs:element minOccurs="0" name="LATARInvoiceNotes" nillable="true" type="st:AxdExtType_FreeTxt" />
      <xs:element minOccurs="0" name="LATARNCAI" nillable="true" type="st:AxdExtType_LATARNCAI" />
      <xs:element minOccurs="0" name="LATARNCAIFromDate" nillable="true" type="st:AxdExtType_DueDate" />
      <xs:element minOccurs="0" name="LATARNetAmountCur" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="LATARNumberSequenceCode" nillable="true" type="st:AxdExtType_NumberSequenceCode" />
      <xs:element minOccurs="0" name="LATARObservations" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LATARPointOfSalesId" nillable="true" type="st:AxdExtType_LATARPointOfSalesId" />
      <xs:element minOccurs="0" name="LATARPointOfSalesJurisdicId" nillable="true" type="st:AxdExtType_LATARJurisdicId" />
      <xs:element minOccurs="0" name="LATARPrePayment" nillable="true" type="st:AxdExtType_LATARPrePayment" />
      <xs:element minOccurs="0" name="LATARSalesTypeId" nillable="true" type="st:AxdExtType_LATARSalesTypeId" />
      <xs:element minOccurs="0" name="LATARShop" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="LATARTaxIdCardTypeId" nillable="true" type="st:AxdExtType_LATARIdCardTypeId" />
      <xs:element minOccurs="0" name="LATARTaxReportId" nillable="true" type="st:AxdExtType_RefRecId" />
      <xs:element minOccurs="0" name="LATARTaxReportNum" nillable="true" type="st:AxdExtType_LATARTaxReportNum" />
      <xs:element minOccurs="0" name="LATARUseGood" nillable="true" type="st:AxdExtType_LATARUseGood" />
      <xs:element minOccurs="0" name="EXCEIUY_FEStatus" nillable="true" type="st:AxdEnum_EXCEIUY_FEStatus" />
      <xs:element minOccurs="0" name="EXCEIUY_FEUsuarioGenerador" nillable="true" type="st:AxdExtType_UserName" />
      <xs:element minOccurs="0" name="NoYesId" nillable="true" type="st:AxdEnum_ABC" />
      <xs:element minOccurs="0" name="EXCEIUY_FEGenerada" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="OfficialNumber" nillable="true" type="st:AxdExtType_OfficialNumber" />
      <xs:element minOccurs="0" name="Draft" nillable="true" type="st:AxdExtType_Draft" />
      <xs:element minOccurs="0" name="SIIInvoiceIssuedTypePost" nillable="true" type="st:AxdEnum_SIIInvoiceIssuedTypePost" />
      <xs:element minOccurs="0" name="SIIInvoiceTypeRectification" nillable="true" type="st:AxdEnum_SIIInvoiceTypeRectification" />
      <xs:element minOccurs="0" name="Summary" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="EXCEIUY_FEFechaCFE" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="EXCEIUY_FEFechaRecibida" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="InvoiceIdentification_IN" nillable="true" type="st:AxdEnum_InvoiceIdentification_IN" />
      <xs:element minOccurs="0" name="ProvisionalAssessment_IN" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="IntentLetterInternalId" nillable="true" type="st:AxdExtType_IntentLetterInternalId" />
      <xs:element minOccurs="0" name="BankAccount" nillable="true" type="st:AxdExtType_CustBankAccountId" />
      <xs:element minOccurs="0" name="PaymBankAccountId" nillable="true" type="st:AxdExtType_CompanyBankAccountId" />
      <xs:element minOccurs="0" name="EXCEICL_InvoiceId" nillable="true" type="st:AxdExtType_EXCEICL_InvoiceId" />
      <xs:element minOccurs="0" name="EXCFC_FolioNumber" nillable="true" type="st:AxdExtType_EXCFC_FolioNumber" />
      <xs:element minOccurs="0" name="EXCLATCL_SalesDocTypePackingSlip" nillable="true" type="st:AxdExtType_EXCLATCL_SalesDocTypeEDT" />
      <xs:element minOccurs="0" name="EXCLATEC_TransType" nillable="true" type="st:AxdExtType_EXCLATEC_TransTypeEDT" />
      <xs:element minOccurs="0" name="LATPECanceled" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="EXCLATEC_VoucherType" nillable="true" type="st:AxdExtType_EXCLATEC_VoucherTypeEDT" />
      <xs:element minOccurs="0" name="LATPECustGoodServiceTypes" nillable="true" type="st:AxdExtType_LATPECustVendGoodServiceTypeId" />
      <xs:element minOccurs="0" name="LATPECustIssuePoints" nillable="true" type="st:AxdExtType_LATPECustVendIssuePointId" />
      <xs:element minOccurs="0" name="LATPECustOperationTypes" nillable="true" type="st:AxdExtType_LATPECustVendOperationTypeId" />
      <xs:element minOccurs="0" name="LATPECustSUNATDocumentTypes" nillable="true" type="st:AxdExtType_LATPECustVendSUNATDocumentTypeId" />
      <xs:element minOccurs="0" name="LATPEDetractionAmount" nillable="true" type="st:AxdExtType_LATPEDetractionAmount" />
      <xs:element minOccurs="0" name="LATPEDetractionPercent" nillable="true" type="st:AxdExtType_LATPEDetractionPercent" />
      <xs:element minOccurs="0" name="LATPEDocumentSeries" nillable="true" type="st:AxdExtType_LATPEDocumentSeries" />
      <xs:element minOccurs="0" name="LATPEHide" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="LATRelatedDocRecId" nillable="true" type="st:AxdExtType_LATRelatedDocRecId" />
      <xs:element minOccurs="0" name="EXCEIMX_FEFechaCertificada" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="EXCEIMX_FEFechaGenerada" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="EXCEIMX_FEGenerada" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="EXCEIMX_FEHoraCertificada" nillable="true" type="st:AxdExtType_TimeHour24" />
      <xs:element minOccurs="0" name="EXCEIMX_FEHoraGenerada" nillable="true" type="st:AxdExtType_TimeHour24" />
      <xs:element minOccurs="0" name="EXCEIMX_FEStatus" nillable="true" type="st:AxdEnum_EXCEIMX_FEStatus" />
      <xs:element minOccurs="0" name="EXCEIMX_FEUsuarioGenerador" nillable="true" type="st:AxdExtType_UserName" />
      <xs:element minOccurs="0" name="EXCEIMX_FEUUID" nillable="true" type="st:AxdExtType_Str1260" />
      <xs:element minOccurs="0" name="EXCEIPE_FEFechaCertificada" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="EXCEIPE_FEFechaGenerada" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="EXCEIPE_FEGenerada" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="EXCEIPE_FEHoraCertificada" nillable="true" type="st:AxdExtType_TimeHour24" />
      <xs:element minOccurs="0" name="EXCEIPE_FEHoraGenerada" nillable="true" type="st:AxdExtType_TimeHour24" />
      <xs:element minOccurs="0" name="EXCEIPE_FEStatus" nillable="true" type="st:AxdEnum_EXCEIPE_FEStatus" />
      <xs:element minOccurs="0" name="EXCEIPE_FEUsuarioGenerador" nillable="true" type="st:AxdExtType_UserName" />
      <xs:element minOccurs="0" name="EXCLATPA_CustConcept" nillable="true" type="st:AxdType_Integer" />
      <xs:element minOccurs="0" name="EXCLATPA_CustFormat" nillable="true" type="st:AxdType_Int64" />
      <xs:element minOccurs="0" name="EXCEICL_ReferenceFolio" nillable="true" type="st:AxdType_Integer" />
      <xs:element minOccurs="0" name="LATPEAutoDetractionStatus" nillable="true" type="st:AxdEnum_LATPEAutoDetractionStatus" />
      <xs:element minOccurs="0" name="LATPEDetractionPaym" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="SalesBalanceTariffCurrency" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="InvoiceAmountTariffCurrency" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="EXCEICL_CodModVenta" nillable="true" type="st:AxdExtType_EXCEICL_CodModVenta" />
      <xs:element minOccurs="0" name="EXCEICL_Id_PtoDestino" nillable="true" type="st:AxdExtType_EXCEICL_Id_PtoDestino" />
      <xs:element minOccurs="0" name="EXCEICL_Id_PtoEmbarque" nillable="true" type="st:AxdExtType_EXCEICL_Id_PtoEmbarque" />
      <xs:element minOccurs="0" name="EXCEICL_Nave" nillable="true" type="st:AxdExtType_EXCEICL_Nave" />
      <xs:element minOccurs="0" name="EXCEICL_ReferenceCode" nillable="true" type="st:AxdEnum_EXCEICL_ReferenceCode" />
      <xs:element minOccurs="0" name="EXCEICL_ReferenceInvoiceId" nillable="true" type="st:AxdExtType_EXCEICL_ReferenceInvoiceID" />
      <xs:element minOccurs="0" name="ExcEIPE_EIMethod" nillable="true" type="st:AxdEnum_ExcEIPE_EIMethod" />
      <xs:element minOccurs="0" name="CarrierName_RO" nillable="true" type="st:AxdExtType_WMSCarrierName" />
      <xs:element minOccurs="0" name="DeliveryDate_RO" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="FreeTxtInv_RO" nillable="true" type="st:AxdExtType_FreeTxtInv_RO" />
      <xs:element minOccurs="0" name="IdCardNo_RO" nillable="true" type="st:AxdExtType_IdCardNo_RO" />
      <xs:element minOccurs="0" name="IdCardSeries_RO" nillable="true" type="st:AxdExtType_IdCardSeries_RO" />
      <xs:element minOccurs="0" name="ReleasedByAuthority_RO" nillable="true" type="st:AxdExtType_ReleasedByAuthority_RO" />
      <xs:element minOccurs="0" name="TimeOfDlv_RO" nillable="true" type="st:AxdExtType_TimeHour24" />
      <xs:element minOccurs="0" name="TransportNo_RO" nillable="true" type="st:AxdExtType_TransportNo_RO" />
      <xs:element minOccurs="0" name="TransportType_RO" nillable="true" type="st:AxdExtType_TransportType_RO" />
      <xs:element minOccurs="0" name="NotPrintLinesWithZeroAmount" nillable="true" type="st:AxdExtType_NoYesId" />
      <xs:element minOccurs="0" name="ExcPE_DetractorType" nillable="true" type="st:AxdEnum_ExcPE_DetractorType" />
      <xs:element minOccurs="0" name="EInvoiceProponentAgency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STF_ExcludeOfIETU" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="STF_UUID" nillable="true" type="st:AxdExtType_STF_UUID" />
      <xs:element minOccurs="0" name="STF_ValidCFDI" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="ElectronicMessageStatus" nillable="true" type="st:AxdExtType_ElectronicMessageStatus" />
      <xs:element minOccurs="0" name="EInvocieItaly_DocumentTypeId" nillable="true" type="st:AxdExtType_EInvocieItaly_DocumentTypeId" />
      <xs:element minOccurs="0" name="ExcPE_Tasting" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="ExcPECustRelatedDocType" nillable="true" type="st:AxdEnum_boolean" />
      <xs:element minOccurs="0" name="PriceGroupId" nillable="true" type="st:AxdExtType_CustPriceGroup" />
      <xs:element minOccurs="0" name="CreditNoteReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditNoteTypeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ElectronicDocumentTypeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXCEIPE_AmountPendingPayment" nillable="true" type="st:AxdExtType_EXCEIPE_AmountPendingPayment" />
      <xs:element minOccurs="0" name="EXCEIPE_CodeTipoAfectacionIGV" nillable="true" type="st:AxdExtType_EXCEIPE_CodeTipoAfectacionIGV" />
      <xs:element minOccurs="0" name="EXCEIPE_ConceptsOtherTributeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXCEIPE_DownLoadCDR" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="EXCEIPE_FEUUID" nillable="true" type="st:AxdExtType_Str1260" />
      <xs:element minOccurs="0" name="EXCEIPE_IsPaymentAdvance" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="EXCEIPE_MethodOfPayment" nillable="true" type="st:AxdExtType_EXCEIPE_MethodOfPayment" />
      <xs:element minOccurs="0" name="EXCEIPE_NumOfQuotas" nillable="true" type="st:AxdExtType_EXCEIPE_NumOfQuotas" />
      <xs:element minOccurs="0" name="EXCEIPE_RetentionPercentage" nillable="true" type="st:AxdExtType_EXCEIPE_RetentionPercentage" />
      <xs:element minOccurs="0" name="EXCEIPE_TextDetractionsId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficialNumberInteger" nillable="true" type="st:AxdType_Integer" />
      <xs:element minOccurs="0" name="OperationTypeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentMeansCodeId" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
</xs:schema>