Connected Services/tablaInventario/InventTransService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/InventTransService?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
  <xs:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/InventTransService?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/InventTrans" />
  <xs:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/InventTransService?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
  <xs:element name="InventTransOriginServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q1:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventTransOriginServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/InventTrans" minOccurs="0" ref="q2:InventTrans" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventTransOriginServiceFindRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q3:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventTransOriginServiceFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/InventTrans" minOccurs="0" ref="q4:InventTrans" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventTransOriginServiceFindKeysRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q5:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventTransOriginServiceFindKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q6:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>