Connected Services/tablaObras/ObraService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/ObraService?xsd=xsd7" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/ObraService?xsd=xsd8" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/ObraService?xsd=xsd10" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/ObraService?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/ObraService?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/ObraService?xsd=xsd2" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/ObraService?xsd=xsd3" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/ObraService?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/ObraService?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Obras" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/ObraService?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/ObraService?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://axaos2012test.alsina.red:8101/DynamicsAx/Services/ObraService?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ObrasServiceReadRequest">
    <wsdl:part name="parameters" element="tns:ObrasServiceReadRequest" />
  </wsdl:message>
  <wsdl:message name="ObrasServiceReadRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="ObrasServiceReadResponse">
    <wsdl:part name="parameters" element="tns:ObrasServiceReadResponse" />
  </wsdl:message>
  <wsdl:message name="ObrasService_read_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="ObrasServiceFindRequest">
    <wsdl:part name="parameters" element="tns:ObrasServiceFindRequest" />
  </wsdl:message>
  <wsdl:message name="ObrasServiceFindRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="ObrasServiceFindResponse">
    <wsdl:part name="parameters" element="tns:ObrasServiceFindResponse" />
  </wsdl:message>
  <wsdl:message name="ObrasService_find_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:portType name="ObrasService">
    <wsdl:operation name="read">
      <wsdl:input wsaw:Action="http://tempuri.org/ObrasService/read" name="ObrasServiceReadRequest" message="tns:ObrasServiceReadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/ObrasService/readResponse" name="ObrasServiceReadResponse" message="tns:ObrasServiceReadResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ObrasService/readAifFaultFault" name="AifFaultFault" message="tns:ObrasService_read_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/ObrasService/find" name="ObrasServiceFindRequest" message="tns:ObrasServiceFindRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/ObrasService/findResponse" name="ObrasServiceFindResponse" message="tns:ObrasServiceFindResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ObrasService/findAifFaultFault" name="AifFaultFault" message="tns:ObrasService_find_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>